@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@import url("fonts.css");


body {
	background-color: #1b222f;
}

.navigation__item {
	color: #28980c;
	text-align: center;
	line-height: 2;
	font-size: 30px;
	font-weight: 600;
	font-family: "DM Sans", sans-serif;
}

.navigation__item a {

	letter-spacing: 5px;
	text-transform: uppercase;
}

.navigation__item a:hover {
	color: #43e61a;
	text-decoration: underline;
	text-decoration-color: rgb(139, 4, 4);
	text-decoration-thickness: 2px;
	text-underline-offset: 10px;
}

.navigation__item a:active {
	color: #18a7ca;
}

.article {
	color: aliceblue;
	font-family: "DM Sans", sans-serif;
}

.article__container {
	padding: 30px;
	max-width: 1300px;
	margin: 0 auto;
	background-color: #081d38;
}



.show__link {
	text-align: center;
	margin-bottom: 20px;

}

.show__link-item {
	padding: 10px 20px;
	background-color: #14472e;
	border-radius: 10px 10px;
	text-transform: uppercase;
}


.show__link-item:hover {
	background-color: #1a7046;
	text-decoration: underline;
}

.show__link-item:active {
	background-color: #21c4c4;
}

/* .show__link-item:visited {
	color: rgb(128, 129, 129);
} */

.show__link-item:focus-visible {
	outline: 2px solid red;
}

/* .show li :not(:last-child) {
	padding-bottom: 30px;
} */




.article__list li {
	margin-bottom: 150px;
}




.show li p {
	line-height: 2;
	background-color: #1d0838;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	margin-bottom: 20px;
}

/* .show li p:first-of-type {
	color: #21c4c4;
} */


.first-of-type p:first-of-type {
	color: red;
}

.last-child p:last-of-type {
	color: red;
}

.nth-of-type p:nth-of-type(2) {
	color: red;
}


.nth-of-type-even p:nth-of-type(even) {
	color: red;
}

.nth-last-of-type3n p:nth-of-type(3n+5) {
	color: green;
}


.has:has(span) {
	color: red;
}

.block__card>* {
	margin-bottom: 30px;
}

.block__card {
	background-color: #1a7046;
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
}

.block__title {
	font-size: 25px;
}

.block__text {
	line-height: 1.5;
}

.block__text p::before {
	content: "before";
	color: red;
	display: inline;
}

.block__text p::after {
	content: "after";
	color: yellow;
	display: inline;
}


.block__link {
	border-radius: 15px;
	padding: 10px 20px;
	background-color: #1148af;
	line-height: 1.5;

}

.block__link::before {
	content: "";
	background: url(../img/icon.svg) no-repeat;
	width: 15px;
	height: 15px;
	padding-left: 20px;
	vertical-align: middle;
}

.block__link::after {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-left: 5px;
	background-color: #1d0838;
	vertical-align: middle;
}

.block__link:hover {
	background-color: #284d92;
	text-decoration: underline;
}

.block__link:active {
	background-color: #21c4c4;
}

.block__card>*:last-child {
	margin-bottom: 0;
}


/* article__block-agrolink */


/* .article__container {
	max-width: 565px;
	background-color: #FFFFFF;
	color: #000;
} */


.agrolinkblock {
	padding: 30px;
	margin: 0 auto;
	font-family: "DM Sans", sans-serif;
	max-width: 565px;
	background-color: #FFFFFF;
	color: #000;
}


/* відсуп */

.agrolinkblock>* {
	margin-bottom: 30px;
}

.agrolinkblock>*:last-child {
	margin-bottom: 0px;
}


.agrolinkblock__title {
	color: #131313;
	text-transform: capitalize;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: -1.25px;
	display: inline-block;
}

.agrolinkblock__title::before {
	content: "";
	width: 50%;
	height: 3px;
	background: linear-gradient(90deg, rgba(18, 255, 70, 1) 0%, rgba(0, 0, 0, 1) 100%);
	margin-bottom: 20px;
	display: block;
}

.agrolinkblock__title span {
	color: #1AAF5B;
}

.agrolinkblock__text {

	font-size: 20px;
	text-align: left;
	line-height: 1.4;
	letter-spacing: 0.6px;
	opacity: 0.6;
	margin-bottom: 54px;
}

.agrolinkblock__link {
	font-size: 17px;
	letter-spacing: 0.6px;
	color: #fff;
	background-color: #1AAF5B;
	padding: 25px 40px;
	border-radius: 0 18px 0 0;
}

.agrolinkblock__link:hover {
	background-color: #198f4c;
}

.agrolinkblock__link:active {
	background-color: #19778f;
}

.agrolinkblock__link::after {
	content: "";
	background: url(../img/arrow.svg)0 no-repeat;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	margin-left: 18px;
}

/* GAME */


.game__container {
	padding: 50px;
}


[class*="game__item"] {
	visibility: hidden;
}

.game__list {
	margin: 0 auto;
	width: 1000px;
	background-color: #fff;
	padding: 50px;
	min-height: 800px;
}

.game__item1 {
	visibility: visible;
	background-color: #1AAF5B;
	height: 50px;
	width: 50px;
}



.game__item1:hover+.game__item2,
.game__item2:hover {
	visibility: visible;
}


.game__item2 {

	background-color: #081d38;
	width: 570px;
	height: 30px;
}



.game__item2:hover+.game__item3,
.game__item3:hover {
	visibility: visible;
}

.game__item3:hover+.game__item4,
.game__item4:hover {
	visibility: visible;
}

.game__item4:hover+.game__item5,
.game__item5:hover {
	visibility: visible;
}

.game__item5:hover+.game__item6,
.game__item6:hover {
	visibility: visible;
}

/* .game__item6:hover+.game__item7,
.game__item7:hover {
	visibility: visible;
} */

.game__item6:hover+.game__item-fake,
.game__item-fake:hover {
	visibility: visible;
}

.game__item6:hover~.game__item7,
.game__item7:hover {
	visibility: visible;
}

.game__item7:hover+.game__item8,
.game__item8:hover {
	visibility: visible;
}

.game__item7:hover+.game__item8,
.game__item8:hover {
	visibility: visible;
}

.game__item8:hover+.game__item9,
.game__item9:hover {
	visibility: visible;
}

.game__item9:hover+.game__item10,
.game__item10:hover {
	visibility: visible;
}







.game__item3 {
	background-color: #081d38;
	width: 30px;
	height: 150px;
	margin-left: 60%;
}



.game__item4 {
	background-color: #081d38;
	width: 282px;
	height: 30px;
	margin-left: 60%;
}



.game__item5 {
	background-color: #081d38;
	width: 30px;
	height: 80px;
	margin-left: 88%;
}

.game__item6 {
	background-color: #081d38;
	width: 399px;
	height: 30px;
	margin-left: 47%;
}

.game__item-fake {
	font-size: 0;
	width: 30px;
	height: 30px;
	background-color: #2db61b;
	margin-left: 60%;
}

.game__item-fake:hover {
	font-size: 19px;
	transition: all 0.3s ease;
	background-color: #b91f1f;
	width: 150px;
	height: 150px;
	padding: 24px;
	line-height: 2;
	text-transform: uppercase;
	font-family: "DM Sans", sans-serif;

}




.game__item7 {
	background-color: #2db12d;
	width: 30px;
	height: 30px;
	margin-left: 44%;
	margin-top: -60px;

}

.game__item8 {
	background-color: #081d38;
	width: 10px;
	height: 100px;
	margin-left: 45%;
}



.game__item9 {
	background-color: #af0f0f;
	width: 100px;
	height: 50px;
	margin-left: 40%;
}